#VIM
/vim/.vim/.netrwhist
/vim/.vim/spell/
/vim/.vim/plugged/

#BSPWM
/bspwm/.config/.mono

#POLYBAR
/polybar/.config/polybar/launch

#RUST
/rust/.cargo/bin
/rust/.cargo/registry
/rust/.cargo/.package-cache
