! urxvt
URxvt*background: Black
URxvt*foreground: White
URxvt*scrollBar: false
URxvt*urlLauncher: waterfox
URxvt*font: xft:Source Code Pro:regular:size=10:antialias=true
URxvt*boldFont: xft:Source Code Pro:bold:size=10:antialias=true
